
<h1>Technologies <small>Backend and Frontend</small></h1>
<hr>

<div class="card-columns">
  <app-technology-card 
    [technology]="technology" 
    *ngFor="let technology of technologies">
  </app-technology-card>
</div>